# General
.DS_Store
.AppleDouble
.LSOverride


# Thumbnails
._*


# Databases
*.db
*.sqlite

# IDE: PyCharm
.idea/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

